<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pyperpedia</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="container">
            <div class="navbar navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                </div>
            </div>
        </div>*@

    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            @Html.ActionLink("GoWikiSearch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-pills">

                    <li class="nav-item nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Search", "Index", "Search")</li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content p-3" role="main">
        @RenderBody()
        <hr />
        <div class="container">
            <footer>
                <p>&copy; @DateTime.Now.Year - GoWikiSearch</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
