<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoWikiSearch</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
        .searchbar {
            margin-bottom: auto;
            margin-top: auto;
            height: 60px;
            border-radius: 30px;
            border-width: thin;
            border: outset;
            color: black;
            background-color: white;
            border-color: black;
            padding: 5px;
        }

        .search_input {
            color: black;
            border: 0;
            outline: 0;
            background: none;
            width: 600px;
            max-width: 100%;
            padding: 0 10px;
            caret-color: transparent;
            line-height: 45px;
            caret-color: red;
        }

        .search_icon {
            background: white;
            color: #e74c3c;
            height: 45px;
            width: 45px;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;
        }

        #query-suggestions {
            z-index: 100;
            position: absolute;
            width: 40rem;
        }

       #landing {
            height: 100vh;
            background-image: url(@Url.Content("~/Content/Images/bg.svg"));
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            z-index: -1;
        }
    </style>
</head>
<body>
    @Html.Partial("_NavigationBar")
    @RenderBody()
    @*@Html.Partial("_Footer")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
