<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        @Html.ActionLink("GoWikiSearch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills">
                @*<li class="nav-item nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item nav-link">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-item nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="nav-item nav-link">@Html.ActionLink("Search", "Index", "Search")</li>*@
            </ul>
        </div>
    </nav>
</div>